page-search {
    .button{
        border:2px map-get($colors,primary) solid;
        border-radius:3%;
        color:map-get($colors,primary);
        width:40vw;
        height:40vw;
        margin:13px;
        display:flex;
        font-size:26vw;
        justify-content:center;
        align-items:center;
    }
    .container{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .desc{
        margin-left:calc((100vw - 80vw - 26px)/2);
        margin-top:30px;
        font-size:6vw;
        line-height:9vw;
        width:80vw;
        color:#666666;
    }
}
